*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#111;
    color:white;
}

/* Navbar using Flexbox */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:orange;
    padding:15px 30px;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:20px;
}

.navbar a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

/* Hero Section */

.hero{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:30px;
    padding:40px;
    flex-wrap:wrap;
}

.hero img{
    width:350px;
    border-radius:10px;
}

.hero button{
    margin-top:15px;
}

/* Grid Layout */

.grid-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:30px;
}

.card{
    background:#222;
    padding:20px;
    border-radius:10px;
    text-align:center;
}

/* Contact Form */

.contact{
    padding:30px;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:400px;
    margin:auto;
}

input, textarea{
    padding:12px;
    border:none;
    border-radius:5px;
}

button{
    padding:12px;
    background:orange;
    border:none;
    cursor:pointer;
    font-weight:bold;
}

button:hover{
    background:blue;
}

#error{
    color:red;
    margin-top:10px;
}

/* To-Do List */

.todo{
    padding:30px;
    text-align:center;
}

#taskList{
    margin-top:20px;
    list-style:none;
}

#taskList li{
    background:#222;
    padding:10px;
    margin:10px auto;
    width:300px;
    border-radius:5px;
}

/*Responsive Design*/

@media(max-width:768px){

    .navbar{
        flex-direction:column;
    }

    .grid-container{
        grid-template-columns:1fr;
    }

    .hero{
        flex-direction:column;
    }
}